@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* styles/Home.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  @apply text-4xl font-bold mb-6;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

section {
  @apply mb-8;
}

p {
  @apply mb-4;
}

footer {
  @apply text-gray-600 text-sm mt-8;
}

li{
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #20037f; 
  z-index: 1000; 
}

.content {
  margin-top: 100px; 
  padding-top: 50px; 
}
.navbar {
  padding: 1rem; 
}
